@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

.App {
  text-align: center;
  font-family: Poppins, sans-serif;
}

.App-logo {
  height: 44px;
  pointer-events: none;
  margin-right: 20px;
}

.smallLogo {
  height: 32px;
  pointer-events: none;
  margin-left: 30px;
  margin-right: 20px;
}

.searchIcon {
  height: 20px;
  padding: 10px;
  text-align: center;
  align-self: center;
  margin-right: -40px;
  z-index: 2;
}

.inputContainer {
  display: flex;
  width: 500px;
}

span,
p {
  color: #fff;
}

.logoText {
  font-weight: 800;
}

.searchInput {
  font-weight: 800;
  padding: 10px;
  padding-left: 40px;
  height: 45px;
  background-color: rgb(53, 56, 64);
  border-radius: 10px;
  border: 1px solid rgb(21, 27, 34);
  cursor: text;
  outline: none;
  color: #e3e3e3;
  width: 100%;
}

.searchInput:hover {
  background-color: #4a4e59;
}

.item {
  margin: 10px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.item:hover {
  color: #fff;
}

.item:focus {
  color: #fff;
}

.App-header {
  overflow: hidden;
  background-color: #000;
  min-height: 40px;
  height: 74px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
}

.divider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 825px) {
  .menu {
    position: absolute;
    visibility: hidden;
  }
  .inputContainer {
    width: 100%;
  }
}
